/.git
/.vs
/Debug
/Release
mod.vcxproj.user
CaveStory/.exp*
CaveStory/.lib*
CaveStory/.pdb*
CaveStory/.dll*

CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect